# Postgres connection string, e.g.:
# postgresql://user:password@host:5432/dbname?schema=public
DATABASE_URL=""

# eBay Finding API App ID (Client ID)
EBAY_APP_ID=""

# Secret to authorize cron calls to ingest endpoint
CRON_KEY=""
